body {
    background-image: url("https://images.pexels.com/photos/159472/headphones-instagram-video-games-razer-159472.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0B3954;
}

h1 {
    color: #FF5A5F;
    text-align: right;
}